/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.u-center-text {
  text-align: center !important; }

@keyframes joinLetters {
  0% {
    transform: translateX(-50%);
    letter-spacing: 30px;
    width: 230%; }
  100% {
    transform: translateX(0%);
    letter-spacing: 3px;
    width: 95%; } }
@keyframes showSignInBtn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes showSignUpBtn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

#root {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url("../images/dark.jpg");
  background-size: cover; }

.hide {
  display: none; }

@media only screen and (max-width: 56.25em) {
  .toggleDisplayNone {
    display: none !important; } }
@media only screen and (max-width: 37.5em) {
  .toggleDisplayNone {
    display: none !important; } }
.lds-css.ng-scope {
  display: flex;
  justify-content: center;
  align-items: center; }

.lds-spinner {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(50%, 50%); }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #3e51e3;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px; }

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s; }

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s; }

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s; }

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s; }

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s; }

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s; }

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s; }

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s; }

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s; }

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s; }

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.lds-spinner {
  width: 103px !important;
  height: 103px !important;
  -webkit-transform: translate(-65px, -51.5px) scale(0.515);
  transform: translate(-65px, -51.5px) scale(0.515); }

.signInContainer-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  animation: joinLetters 1s ease-out; }
  @media only screen and (max-width: 37.5em) {
    .signInContainer-title {
      font-size: 2.6rem;
      top: 10%; } }

#signInContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40%; }

.signInBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px; }
  @media only screen and (max-width: 37.5em) {
    .signInBtns {
      justify-content: center;
      align-items: center;
      margin-top: 2vh; } }
  @media only screen and (max-width: 56.25em) {
    .signInBtns {
      width: 98%;
      margin-top: 2vh; } }

#signInStart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  background-color: rgba(40, 180, 133, 0.6);
  color: white;
  border-radius: 3px;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  animation: showSignInBtn 2s; }
  @media only screen and (max-width: 37.5em) {
    #signInStart {
      width: 15rem;
      margin: 0;
      margin-right: 1rem; } }
  #signInStart:hover {
    transform: translateY(-8px);
    background-color: #28b485; }

#signUpStart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  background-color: rgba(255, 119, 48, 0.6);
  color: black;
  border-radius: 3px;
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  animation: showSignUpBtn 2s; }
  #signUpStart:hover {
    transform: translateY(-8px);
    background-color: #ff7730; }
  @media only screen and (max-width: 37.5em) {
    #signUpStart {
      width: 15rem;
      margin: 0;
      margin-left: 1rem; } }

#signInFormContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    #signInFormContainer {
      position: relative;
      transform: none;
      top: 0;
      left: 0; } }
  #signInFormContainer #signIn {
    width: 8rem;
    height: 4rem;
    margin: 1.5rem 1rem 0 0;
    background-color: green;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    color: white;
    cursor: pointer; }

#signUpFormContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    #signUpFormContainer {
      position: relative;
      transform: none;
      top: 0;
      left: 0; } }
  #signUpFormContainer #signUp {
    width: 8rem;
    height: 4rem;
    margin: 1.5rem 1rem 0 0;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer; }

#emailInput {
  width: 30rem;
  min-height: 5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 2px;
  color: #031924; }
  #emailInput::-webkit-input-placeholder {
    color: black; }
  #emailInput:-moz-placeholder {
    color: black; }
  #emailInput:-moz-placeholder {
    color: black; }
  #emailInput:-ms-input-placeholder {
    color: black; }

#passInput {
  width: 30rem;
  min-height: 5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 2px;
  color: #031924; }
  #passInput::-webkit-input-placeholder {
    color: black; }
  #passInput::-moz-placeholder {
    color: black; }
  #passInput:-moz-placeholder {
    color: black; }
  #passInput:-ms-input-placeholder {
    color: black; }

#userNameInput {
  width: 30rem;
  min-height: 5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 2px;
  color: #031924; }
  #userNameInput::-webkit-input-placeholder {
    color: black; }
  #userNameInput::-moz-placeholder {
    color: black; }
  #userNameInput:-moz-placeholder {
    color: black; }
  #userNameInput:-ms-input-placeholder {
    color: black; }

.logOutBtnPosition {
  display: flex;
  width: 98.2%;
  height: 4.5rem;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .logOutBtnPosition {
      justify-content: space-around;
      height: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .logOutBtnPosition {
      justify-content: space-around; } }
  .logOutBtnPosition #openChatBtn {
    display: none;
    width: 10rem;
    height: 3.5rem;
    background-color: green;
    text-align: center;
    line-height: 3.5rem;
    margin: 1% 1% 0 0;
    border-radius: 8%;
    color: white;
    cursor: pointer;
    font-size: 1em; }
    @media only screen and (max-width: 37.5em) {
      .logOutBtnPosition #openChatBtn {
        display: block; } }
    @media only screen and (max-width: 56.25em) {
      .logOutBtnPosition #openChatBtn {
        display: block; } }
  .logOutBtnPosition #createRoomMenu {
    display: none;
    width: 10rem;
    height: 3.5rem;
    background-color: violet;
    text-align: center;
    line-height: 3.5rem;
    margin: 1% 1% 0 0;
    border-radius: 8%;
    color: white;
    cursor: pointer;
    font-size: 1em; }
    @media only screen and (max-width: 37.5em) {
      .logOutBtnPosition #createRoomMenu {
        display: block; } }
    @media only screen and (max-width: 56.25em) {
      .logOutBtnPosition #createRoomMenu {
        display: block; } }
  .logOutBtnPosition #searchRoomBtn {
    display: none;
    width: 10rem;
    height: 3.5rem;
    background-color: #ffcd41;
    text-align: center;
    line-height: 3.5rem;
    margin: 1% 1% 0 0;
    border-radius: 8%;
    color: white;
    cursor: pointer;
    margin-left: 1%;
    font-size: 1em; }
    @media only screen and (max-width: 37.5em) {
      .logOutBtnPosition #searchRoomBtn {
        display: block; } }
    @media only screen and (max-width: 56.25em) {
      .logOutBtnPosition #searchRoomBtn {
        display: block; } }
  .logOutBtnPosition #logOut {
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1em;
    margin: 1% 1% 0 0;
    background-color: blue;
    color: white;
    border-radius: 8%;
    border: none;
    cursor: pointer; }

.chatContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 85%;
  min-height: 200px; }
  @media only screen and (max-width: 56.25em) {
    .chatContainer {
      width: 100%;
      height: 76%;
      bottom: 5%;
      flex-direction: row; } }
  .chatContainer #chat {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 200px;
    background-color: none;
    overflow-x: hidden;
    overflow-y: auto; }
    .chatContainer #chat .messageLi {
      list-style-type: none;
      font-size: 1.5em;
      margin-top: 0.1em;
      min-width: 14%;
      max-width: 65%;
      word-wrap: break-word;
      padding: 1%;
      border: 1px solid #AFDEF8;
      background-color: white;
      border-radius: 1rem;
      color: black;
      margin-left: 5%;
      margin-right: 5%; }
      .chatContainer #chat .messageLi .time {
        font-size: 0.7em;
        padding: 0;
        margin: 0;
        color: black;
        color: #9D4EE9;
        text-align: end;
        margin: 1% 0 1% 0; }
      .chatContainer #chat .messageLi .userName {
        color: #9D4EE9;
        padding: 0;
        margin: 1% 0 1% 0; }
      .chatContainer #chat .messageLi .userText {
        font-size: 1.8rem; }

.rooms {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  width: 25%;
  height: 94%;
  background-color: none;
  color: white;
  margin-left: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .rooms {
      width: 100%;
      height: 90%;
      justify-content: center; } }
  @media only screen and (max-width: 37.5em) {
    .rooms {
      margin: 0 auto;
      width: 95%;
      margin: 0 auto; } }
  .rooms .roomsContainer {
    height: 60%;
    width: 100%;
    overflow: auto; }
    @media only screen and (max-width: 56.25em) {
      .rooms .roomsContainer {
        margin: 0 auto;
        height: 70%; } }
    .rooms .roomsContainer .roomNameLi {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-size: 2rem;
      margin-right: 2%;
      padding: 1%;
      background-color: none;
      border-radius: 6%;
      color: yellow; }
      .rooms .roomsContainer .roomNameLi:hover {
        cursor: pointer;
        font-size: 2.2rem; }
      @media only screen and (max-width: 56.25em) {
        .rooms .roomsContainer .roomNameLi {
          font-size: 2.2rem; }
          .rooms .roomsContainer .roomNameLi:hover {
            font-size: 2.3rem; } }
      @media only screen and (max-width: 37.5em) {
        .rooms .roomsContainer .roomNameLi {
          font-size: 2.5rem;
          margin-right: 0; } }
      .rooms .roomsContainer .roomNameLi p {
        margin-bottom: 0; }
      .rooms .roomsContainer .roomNameLi #deleteBtn {
        margin-right: 5%; }

#searchInput {
  display: block;
  width: 100%;
  height: 5%;
  background: none;
  outline: none;
  border: none;
  margin: 2% 0 0 1%;
  padding-left: 2%;
  font-size: 1.4rem;
  color: white;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    #searchInput {
      margin: 0;
      padding-left: 1%;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    #searchInput {
      font-size: 2.8rem; } }

.createMessageContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 70%;
  height: 5vh;
  min-height: 50px;
  z-index: 3333333; }
  @media only screen and (max-width: 56.25em) {
    .createMessageContainer {
      width: 100%;
      height: 5vh; } }
  .createMessageContainer .sendMessageInput {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    border: 1px solid grey;
    border-right: none; }
  .createMessageContainer #sendMessageBtn {
    display: block;
    text-align: center;
    line-height: 50%;
    background: white;
    color: black;
    height: 100%;
    width: 75px;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000000;
    border: 1px solid grey;
    border-left: none;
    font-size: 1.2rem; }
    .createMessageContainer #sendMessageBtn p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.roomsMenuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: white;
  height: 25%; }
  @media only screen and (max-width: 56.25em) {
    .roomsMenuContainer {
      width: 75%;
      height: 50%; } }
  .roomsMenuContainer #enterRoomName {
    width: 100%;
    height: 20%;
    margin: 2% 1% 0 1%;
    font-size: 1.4rem;
    padding-left: 2%;
    border: none;
    border-bottom: 2px solid green;
    color: white;
    background: none;
    outline: none;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .roomsMenuContainer #enterRoomName {
        font-size: 1.5rem; } }
  .roomsMenuContainer #roomPass {
    width: 100%;
    height: 20%;
    margin: 2% 1% 7% 1%;
    padding-left: 2%;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid green;
    color: white;
    background: none;
    outline: none;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .roomsMenuContainer #roomPass {
        font-size: 1.5rem; } }
  .roomsMenuContainer #createNewRoomBtn {
    display: block;
    margin: 2% 0% 0 2%;
    width: 30%;
    height: 20%;
    top: 35%;
    font-size: 1.3em;
    background-color: green;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    color: white;
    font-size: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .roomsMenuContainer #createNewRoomBtn {
        width: 12rem;
        height: 5rem;
        font-size: 1.3rem;
        font-weight: bold; } }
    @media only screen and (max-width: 37.5em) {
      .roomsMenuContainer #createNewRoomBtn {
        width: 10rem; } }

/*# sourceMappingURL=main.css.map */
